.b {
  border: 1px solid black;
}

#baselayout {
  width: 80%;
  margin: 0 auto;
}

#main_nav {
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
  background-color: black;
}

#main_nav.a, a:visited {
  color: white;
}

#secondary_nav {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: grey;
}

#item_image {

}

#page_header, #about_header {
  width: 60%;
  text-align: center;
  margin: 20px auto;
}

#main-page {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

a:hover {

}

summary {
  outline: none;
}

.button_container {
  margin: 0 auto;
  padding: 10px;
  width: 100px;
}

.main_page_btn {
   width: 100px;
   align-items: center;
 }

.no {
  padding: 0;
  margin: 0;
}

.nav_logo {
  align-self: flex-start;
  font-size: 30px;
}

.nav_company_info {
  margin-left: auto;
}

.link {
  padding: 5px;
  /*border: 1px solid black;*/
}

.item_image {
  width: 200px;
}

.item {
  display: flex;
  flex-direction: row;
  /*border: 3px solid black;
  border-radius: 5px;*/
  /*padding: 5px;
  margin-bottom: 10px;*/
}

.details {
  margin-left: 10px;
}

/*Styling for Contact Page*/
#form_input {
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 5px;
  background-color: grey;
  border: 0;
  padding: 10px;
}

.form {
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
}

.name, .email {
  width: 50%;
}

/*.box styling was found online and probaly overused.*/
.box
{
	position: relative;
	/*width: 500px;*/
	padding:  15px;
	margin-bottom: 20px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.box:before, .box:after
{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
}

.box:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}
